---
import { getI18N } from "../i18n";
import Description from "./content/Description.astro";
import Title from "./content/Title.astro";
import VideoDocs from "./content/VideoDocs.astro";
import type { IDocFeatures } from "./features";

import { translateDoc, docsOptions } from "./features";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

// const translateDocOption = (option: IDocFeatures) => {
//   const translations = i18n.docsOptions[option.slug as keyof typeof i18n.docsOptions] as { title: string; depth: number; slug: string; src?: string; description?: string[] };
//   return {
//     ...option,
//     title: translations.title,
//     description: option.description?.map((desc, index) => translations.description?.[index + 1] || desc) || []
//   };
// };

// const translatedDocsOptions = docsOptions.map(translateDocOption);

const translatedDocsOptions = translateDoc(docsOptions, i18n.docsOptions);
const docsOptionsAstro = [
  {
    title: `${i18n.docsOptions['app-options'].title}`,
    depth: 1,
    slug: "app-options",
  },
  {
    title: "Exportar configuración",
    depth: 2,
    slug: "o-export-config",
    src: "o-export-config.mp4",
    description: [
      "Exporta la configuración actual de la aplicación",
      "Al exportar la configuración, se descargará un archivo json con la configuración actual de la aplicación",
      "También incluirá las listas de reproducción y las canciones de las listas de reproducción",
    ],
  },
  {
    title: "Importar configuración",
    depth: 2,
    slug: "o-import-config",
    src: "o-import-config.mp4",
    description: [
      "Importa la configuración de la aplicación",
      "Al importar la configuración, se abrirá un modal para seleccionar el archivo json con la configuración de la aplicación",
      "Al importar la configuración, se sobrescribirá la configuración actual de la aplicación",
      "También sobrescribirá las listas de reproducción y las canciones de las listas de reproducción",
    ],
  },
  {
    title: "Actualizar aplicación",
    depth: 2,
    slug: "o-update-app",
    src: "o-update-app.mp4",
    description: [
      "Actualiza la aplicación a la última versión disponible",
      "Al actualizar la aplicación, se descargará la última versión disponible y se instalará automáticamente",
    ],
  },
];
---

<main class="content bg-zinc-900 pl-[350px] grow">
  {
    translatedDocsOptions.map(({ depth, title, slug, description, src }) => {
      return (
        <section id={slug} class="mb-16">
          <Title title={title} description={description} />
          {description &&
            description.map((description) => (
              <Description depth={depth} description={description} />
            ))}
          {src && <VideoDocs depth={depth} src={src} />}
        </section>
      );
    })
  }
</main>
