---
import Description from "./Description.astro"
import Video from "./Video.astro"

const {index, title, description, src} = Astro.props
---
<section data-aos={"fade-up"} class="mb-44 mx-52">
  <div class="flex items-center">
    {index % 2 === 0 ? (
    <Description title={title} description={description}/>
    <div class="">
      <Video src={src}/>
    </div>
    ) : (
    <div class="">
      <Video src={src}/>
    </div>
    <Description title={title} description={description}/>
    )}
  </div>
</section>